.DS_Store
*.pyc

.mutt/cache
.mutt/certificates
.mutt/alias

.vim/.*
.vim/sessions
.vim/yankring_history_v2.txt
.vim/backup
.vim/undo
.vim/colors/*
.vim/bundle/*

.vimperator/info
.pentadactyl/info

.vifm/Trash

.ipython/*
!.ipython/ipythonrc
