.DS_Store
*.pyc

.mutt/cache
.mutt/certificates
.mutt/alias

.vim/.*
.vim/sessions
.vim/yankring_history_v2.txt
.vim/backup
.vim/colors/*
!.vim/colors/gconsole.vim
!.vim/colors/gurra.vim
!.vim/colors/strange.vim

.vimperator/info

.vifm/Trash

.ipython/*
!.ipython/ipythonrc
