snippet load
	{% load ${1} %}

snippet extends
	{% extends ${1} %}

snippet if
	{% if ${1} %}
		${2}
	{% endif %}

snippet ifequal
	{% ifequal ${1} %}
		${2}
	{% endifequal %}

snippet else
	{% else %}
	
